h1{
    font-size: 50px;
}

html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial;
    direction: rtl;
}
header{
    background-color: rgb(243, 227, 86);
    color: white;
    text-align: center;
    padding: 15px;
}
nav{
    background-color: #c0c0bf;
    padding: 10px;
    position:sticky ;
    top: 0;
    background-color: #333;
    box-shadow: 0 2px 5px rgb(0, 0, 0.2);
}
nav a {
    color: white;
    margin: 20px;
    text-decoration: none;
    list-style-type: none;
    font-size: 25px;
}    
    nav a:hover {
    color: yellow;
    font-size: 30px;
}
section{
    padding: 20px;

}
#products {
    display: flex;
    gap: 20px;

}
#products div {
    border: 1px solid hwb(133 57% 5%);
    padding: 10px;
    width: 200px;
}
img {
    width: 100%;
}
footer {
    text-align: center;
}

#end {
    border: 2px solid hwb(36 37% 3%);
}
#up {
    text-align: center;
    font-size: 35px;
    align-items: center;
}

@media (max-width:650px) {
    nav a{
        font-size: 25px;
    }

    nav a:hover {
        font-size: 30px;
    }
    #products {
        flex-direction: column;
        align-items: center;

    }
    img {
        width: 100%;
    }
    section {
        padding: 10px;
    }
    #pr{
        text-align: center;
    }
}